@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:ital,wght@1,100&display=swap');

body {
  padding: 0;
  margin: 0;
}
.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}
.header {
  color: #330867;
  margin: 0;
  text-align: center;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 40px;
  padding-top: 30px;
}
.border {
  border: 5px solid #fad0c4;
  border-radius: 15px;
  width: 50%;
  display: flex;
  justify-content: center;
  margin-left: 25%;
  margin-top: 35px;
  flex-direction: column;
}
.add-item {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 20px;
}
.input-item {
  outline: none;
  border: none;
  border-bottom: 4px solid #ccc;
  margin-bottom: 5px;
  padding: 7px 15px 10px 15px;
  width: 50%;
  margin-left: 20%;
  font-size: 16px;
}
.add-button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 20%;
  background-color: #330867;
  color: #fff;
  border: none;
  outline: none;
  font-family: 'Dancing Script', cursive;
  font-size: 16px;
}
.my-list {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-left: 17%;
  letter-spacing: 1px;
}
.delete-button {
  margin-left: 20px;
  border-radius: 50%;
  padding: 5px;
  width: 30px;
  font-size: 16px;
  background-color: #fad0c4;
  border: 1px solid #ccc;
  outline: none;
  font-family: 'Dancing Script', cursive;
}
.todo {
  padding-bottom: 10px;
}